<h1>Collect These Badges</h1>
<table class="table">
	<thead>
		<tr>
			<th>#</th>
			<th>Type</th>
			<th>Name</th>
			<th>Image</th>
		</tr>
	</thead>
	<tbody>
		<% @badges.each_with_index do |badge, index| %>
			<tr>
				<td><%= index + 1 %></td>
				<td><%= badge.badge_type %></td>
				<td><%= link_to badge.name, badge_path(badge) %></td>
				<td><%= image_tag badge.image(:thumb) %></td>
			</tr>
		<% end %>
	</tbody>

</table>
