<h1>Collect These Badges</h1>

<% @types.each do |type| %>
<hr>
	<%= type.capitalize %> Badges:
	<ul>
		<% @badges.where(badge_type: type).each do |badge| %>
			<li><%= link_to badge.name, badge_path(badge) %> <%= image_tag badge.image.url %></li>
		<% end %>
	</ul>
<% end %>
<hr>