<h1><%= @badge.name %></h1>
<%= image_tag @badge.image.url %>

<p>To earn this badge: </p>
<%= @badge.requirements %>

<p>Available from completing any of these trails:  </p>
<ul>
<% @badge.trails.each do |trail| %>
	<li><%= link_to trail.name, trail_path(trail) %></li>
<% end %>
</ul>