body{
	background: url('halftone.png')
}
div {
	background-color: white;
}
#main {
	padding-top: 40px;
	padding-bottom: 50px;
	margin-top: 70px;
	font-family: 'Fira Sans', sans-serif;
}
#nav-admin {
	margin-top: 50px;
}
