<div id="admin-info" class="col-md-5">
	<h4>Admin Instructions</h4>
	Please create content in this order.
	<ol>
		<li><h4>Loops</h4></li>
			<span>A loop consists of multiple trails in close proximity.  For example, Columbia River Gorge or Mt. Hood.</span>			
		<li><h4>Trails</h4></li>
		<span>Trails are individual hikes.  Each trail must belong to a certain loop.  </span> 
		<li><h4>Badges</h4></li>
		<span>Badges rewarded for completing a trail or loop.  They can also be for cumulative stats such as total distance or achievment stats such as a certain elevation reached.  Badges can belong to multiple trails or loops. </span>
	</ol>
</div>

